body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.create-usuario-page {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.create-usuario-header {
  width: 100%;
  background-color: whitesmoke;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-texts {
  margin-left: 20px;
  text-align: left;
}

.header-logo {
  height: 60px;
}

.create-usuario-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.create-usuario-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #12322B;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #12322B;
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.toggle-show-password {
  position: absolute;
  right: 0px;
  background: none;
  border: none;
  cursor: pointer;
  color: #12322B;
}

.create-usuario-button {
  padding: 10px 20px;
  background-color: #12322B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.create-usuario-button:hover {
  background-color: #0C231E;
}

.message-POST-success {
  color: green;
  font-weight: bold;
  margin-top: 20px;
}

.message-POST-failed {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .create-usuario-header {
    flex-direction: column;
    align-items: center;
  }

  .create-usuario-content {
    width: 90%;
  }

  .create-usuario-form {
    padding: 10px;
  }

  .form-description {
    font-size: 1.2em;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .create-usuario-content {
    width: 80%;
  }
}

@media (min-width: 769px) {
  .create-usuario-content {
    width: 60%;
  }
}