/* CreateMedicos.css */

/* Estilos Base - Mobile-First */

.create-medico {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: whitesmoke;
  font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0C231E;
}

.create-medico__header {
  width: 100%;
  background-color: whitesmoke;
  padding: 1.25rem; /* 20px */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-medico__header-logo {
  height: 3.125rem; /* 50px */
  margin-bottom: 0.625rem; /* 10px */
}

.create-medico__header-texts {
  text-align: center;
}

.create-medico__welcome-message {
  color: #12322b;
  font-size: 1.5rem; /* 24px */
  margin: 0.3125rem; /* 5px */
}

.create-medico__department-name {
  color: black;
  font-size: 1rem; /* 16px */
  margin: 0;
}

.main-layout {
  display: flex;
  flex: 1;
  width: 100%;
}

.create-medico__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem; /* 20px */
  box-sizing: border-box;
}

.create-medico__form {
  width: 100%;
  max-width: 25rem; /* 400px */
  display: flex;
  flex-direction: column;
}

.create-medico__form-description {
  color: #12322B;
  font-size: 1.2rem; /* 19.2px */
  margin-bottom: 1.25rem; /* 20px */
  text-align: center;
  margin-top: 0;
}

.create-medico__form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; /* 16px */
}

.create-medico__form-label {
  margin-bottom: 0.3125rem; /* 5px */
  font-weight: bold;
  color: #12322B;
}

.create-medico__form-input,
.create-medico__form-select {
  padding: 0.625rem; /* 10px */
  border: 1px solid #ccc;
  border-radius: 0.3125rem; /* 5px */
  font-size: 1rem; /* 16px */
  color: #12322B;
}

.create-medico__button {
  padding: 0.625rem; /* 10px */
  background-color: #12322B;
  color: white;
  border: none;
  border-radius: 0.3125rem; /* 5px */
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 1rem; /* 16px */
}

.create-medico__button:hover {
  background-color: #0C231E;
}

.create-medico__message-POST-success,
.create-medico__message-POST-failed {
  font-size: 1rem; /* 16px */
  margin-top: 0.625rem; /* 10px */
  text-align: center;
}

.create-medico__message-POST-success {
  color: green;
}

.create-medico__message-POST-failed {
  color: red;
}

/* Media Queries */

/* Pantallas grandes (mínimo 820px) */
@media (min-width: 820px) {

  .create-medico {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0C231E;
    margin-left: 15.625rem;
  }

  .create-medico__header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.25rem 2rem; /* 20px 32px */
  }

  .create-medico__header-texts {
    text-align: left;
  }

  .create-medico__welcome-message {
    font-size: 2rem; /* 32px */
    margin: 0;
  }
  .create-medico__department-name {
    font-size: 1.25rem; /* 20px */
    margin: 0;
  }

  .create-medico__header-logo {
    margin-right: 1.25rem; /* 20px */
    margin-bottom: 0;
  }

  

  .main-layout {
    display: flex;
    width: 100%;
  }

  .create-medico__content {
    padding: 2rem; /* 32px */
  }

  .create-medico__form {
    max-width: 31.25rem; /* 500px */
  }

  .create-medico__form-description {
    font-size: 1.5rem; /* 24px */
    margin-bottom: 1.875rem; /* 30px */
  }

  .create-medico__form-group {
    flex-direction: row;
    align-items: center;
  }

  .create-medico__form-label {
    width: 40%;
    margin-bottom: 0;
    margin-right: 1.25rem; /* 20px */
    text-align: right;
  }

  .create-medico__form-input,
  .create-medico__form-select {
    width: 60%;
  }

  .create-medico__button {
    width: auto;
    align-self: center;
    padding: 0.75rem 1.5rem; /* 12px 24px */
  }
}

@media (min-width: 1200px) {
  .create-medico__header {
    flex-direction: row;
    align-items: center;
    padding: 1.25rem 3rem; /* Aumentar el padding */
    margin-left: 15.00rem;
  }

  .create-medico__header-logo {
    margin-bottom: 0;
  }

  .create-medico__header-texts {
    text-align: center; /* Alinear el texto a la izquierda */
  }

  .create-medico__welcome-message {
    font-size: 2.5rem; /* Aumentar el tamaño de la fuente */
    margin: 0;
  }

  .create-medico__department-name {
    font-size: 1.5rem; /* Aumentar el tamaño de la fuente */
    margin: 0;
  }
}

@media (min-width: 1800px) {
  .create-medico__header {
    flex-direction: row;
    align-items: center;
    padding: 1.25rem 4rem; /* Aumentar el padding */
  }

  .create-medico__header-logo {
    margin-left: 12rem; /* Aumentar el margen izquierdo */
    margin-bottom: 0;
  }

  .create-medico__header-texts {
    text-align: left; /* Alinear el texto a la izquierda */
  }

  .create-medico__welcome-message {
    font-size: 3rem; /* Aumentar el tamaño de la fuente */
    margin: 0;
  }

  .create-medico__department-name {
    font-size: 2rem; /* Aumentar el tamaño de la fuente */
    margin: 0;
  }
}

@media (max-width: 819px) {
  .create-medico__form input,
  .create-medico__form select {
    font-size: 0.75rem; /* 12px */
    padding: 0.375rem; /* 6px */
  }

  .create-medico__button {
    font-size: 0.75rem; /* 12px */
    padding: 0.375rem 0.75rem; /* 6px 12px */
  }
}

@media (max-width: 560px) {
  .create-medico__form input,
  .create-medico__form select {
    font-size: 0.625rem; /* 10px */
    padding: 0.25rem; /* 4px */
  }

  .create-medico__button {
    font-size: 0.625rem; /* 10px */
    padding: 0.25rem 0.5rem; /* 4px 8px */
  }
}

@media (max-width: 420px) {
  .create-medico__form {
    width: 100%;
    max-width: 20rem; /* 320px */
  }

  .create-medico__form input,
  .create-medico__form select {
    width: 100%;
    max-width: 20rem; /* 320px */
  }
}

@media (min-width: 421px) {
  .create-medico__form {
    width: 100%;
    max-width: 25rem; /* 400px */
  }

  .create-medico__form input,
  .create-medico__form select {
    width: 100%;
    max-width: 25rem; /* 400px */
  }
}
