/* CRUDMedicos.css */
.crud-medicos-page {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
}

.crud-medicos-header {
  display: flex;
  flex-direction: inline-flex;
  width: 100%;
  background-color: white; /* Color del encabezado */
  padding: 10px 20px;
  box-sizing: border-box;
  position: fixed; /* Cambio realizado aquí para fijar el encabezado en la parte superior */
  top: 0; /* Cambio realizado aquí para asegurarse de que esté en la parte superior */
  z-index: 100;
  margin-top: 70px;
}

.crud-medicos-content {
  width: 100%; /* Ajusta el tamaño como sea necesario */
  max-width: 300px; /* Ajusta el tamaño como sea necesario */
  margin-top: 2rem;
  display:flex;
}
li:hoover{
    color: #0C231E;
}

.header-logo{
    height: 80px;
}
