/* CRUDusuarioss.css */
.crud-usuarios-page {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
}

.crud-usuarios-header {
  display: flex;
  flex-direction: inline-flex;
  width: 100%;
  background-color: white; /* Color del encabezado */
  padding: 10px 20px;
  box-sizing: border-box;
  position: fixed; /* Cambio realizado aquí para fijar el encabezado en la parte superior */
  top: 0; /* Cambio realizado aquí para asegurarse de que esté en la parte superior */
  z-index: 100;
}

.crud-usuarios-content {
    margin-top: 100px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.crud-usuarios-button {
    padding: 10px 15px;
    background-color: #12322B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
}

.crud-usuarios-button:hover {
    background-color: #0C231E;
}