body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #004d40;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #004d40;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }
}

.delete-usuario-page {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  color: black;
}

.delete-usuario-header {
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  position: fixed;
  top: 70px; /* Ajustado para que quede debajo del menú */
  z-index: 100;
  display:flex;
}

.delete-usuario-content {
  margin-top: 250px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.usuario-table-container {
  width: 100%;
  overflow-x: auto;
}

.usuario-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.usuario-table th, .usuario-table td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  white-space: nowrap;
}

.usuario-table th {
  background-color: whitesmoke;
  color: #12322B;
  font-weight: bold;
}

.usuario-table td {
  color: #12322B;
}

.pagination-delete-usuario {
  margin-top: 20px;
}

.pagination-delete-usuario button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-delete-usuario button.active {
  background-color: #12322B;
  color: white;
}

.pagination-delete-usuario button:hover {
  background-color: #0C231E;
}

.message-delete-success {
  color: #0C231E;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

  