.delete-usuario-page {
  background-color: whitesmoke; /* Color de fondo */
  height: 100vh; /* Altura completa de la ventana del navegador */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Cambio realizado aquí para alinear al inicio */
  font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #0C231E;
}

.delete-usuario-header {
  display: flex;
  width: 100%;
  background-color: whitesmoke; /* Color del encabezado */
  padding: 10px 20px;
  box-sizing: border-box;
  top: 0; /* Cambio realizado aquí para asegurarse de que esté en la parte superior */
  z-index: 100; /* Para asegurarse de que esté por encima de otros elementos */
}

.header-logo-delete-usuario {
  height: 60px; /* Ajusta el tamaño del logo */
  margin-right: 40px;
}

.header-texts-delete-usuario {
  margin-left: 20px;
  text-align: left;
}

.welcome-message-delete-usuario {
  font-size: 24px;
  margin: 0;
  color: #0C231E;
}

.department-name-delete-usuario {
  font-size: 18px;
  margin: 0;
  color: #0C231E;
}

.delete-usuario-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.delete-search-container {
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  display: flex;
}

.delete-search-container input, .delete-search-container select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0px;
}

.usuario-table-container {
  width: 100%;
  overflow-x: auto;
}

.usuario-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.usuario-table th, .usuario-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.usuario-table th {
  background-color: #f4f4f4;
}

.pagination-delete-usuario {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.pagination-delete-usuario button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #12322B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-delete-usuario button.active {
  background-color: #0C231E;
}

.pagination-delete-usuario button:hover {
  background-color: #0C231E;
}

.message-delete-success {
  color: #0C231E;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Responsividad */
@media (max-width: 480px) {
  .delete-usuario-header {
    width: 100%; /* Asegura que el header ocupe todo el ancho */
    text-align: center; /* Centra el texto del header */
    flex-direction: column;
    align-items: flex-start;
  }

  .header-logo-delete-usuario{
    margin-left: 180px; 
    height: 60px;
  }

  .header-texts-delete-usuario {
    text-align: center;
    margin-top: 10px;
  }

  .welcome-message-delete-usuario {
    font-size: 1.2em;
    text-align: center;
  }

  .department-name-delete-usuario {
    font-size: 1.0em;
    text-align: center;
  }

  .delete-search-container {
    width: 300px;
    margin-left: 20px;
    margin-top: 40px;
  }

  .delete-search-container input,
  .delete-search-container select {
    width: 70%; /* Asegura que ocupen todo el ancho disponible */
    margin-bottom: 15px;
  }

  .usuario-table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 0px;
  }

  .usuario-table {
    width: 100%;
    border-collapse: collapse;
  }

  .usuario-table th,
  .usuario-table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
    font-size: 9px;
  }

  .usuario-table th {
    background-color: #f2f2f2;
    color: #333;
  }
}