.delete-medico-page {
  background-color: whitesmoke; /* Color de fondo */
  height: 100vh; /* Altura completa de la ventana del navegador */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Cambio realizado aquí para alinear al inicio */
  font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #0C231E;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}


.delete-medico-header {
  display: flex;
  flex-direction: inline-flex;
  width: 100%;
  background-color: whitesmoke; /* Color del encabezado */
  padding: 10px 20px;
  box-sizing: border-box;
  top: 0; /* Cambio realizado aquí para asegurarse de que esté en la parte superior */
  z-index: 100; /* Para asegurarse de que esté por encima de otros elementos */
}

.delete-header-logo {
  margin-left: 10px; /* Agrega margen a la izquierda del logo */
}

.delete-header-texts {
  text-align: center;
  flex-grow: 1; /* Hace que los textos ocupen el espacio restante */
}

.delete-welcome-message {
  font-size: 24px;
  margin: 0;
  color: #0C231E; /* Ajusta el color y tamaño según la preferencia */
}

.delete-department-name {
  font-size: 18px;
  margin: 0;
  color: #0C231E;
}

.delete-medico-content {
  margin-top: 20px; /* Ajusta este valor si es necesario */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delete-medico-table-container {
  width: 100%;
  overflow-x: auto;
}

.delete-medico-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.delete-medico-table th, .delete-medico-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.delete-medico-table th {
  background-color: #f4f4f4;
}

.success-message {
  color: green;
  margin-bottom: 20px;
}

.delete-search-container {
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.delete-search-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.delete-search-container select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.pagination-delete-medico {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.pagination-delete-medico button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #12322B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-delete-medico button.active {
  background-color: #0C231E;
}

.pagination-delete-medico button:hover {
  background-color: #0C231E;
}

.message-delete-success {
  color: green;
  font-weight: bold;
  margin-top: 20px;
}

@media (max-width: 480px) {
  .delete-medico-header {
    width: 100%; /* Asegura que el header ocupe todo el ancho */
    text-align: center; /* Centra el texto del header */
    flex-direction: column;
    margin-left: 40px;
    align-items: flex-start;
  }

  .delete-header-texts{
    text-align: center;
    width: 90%;
    margin-left: 50px;;
  }

  .delete-welcome-message{
    color: #12322b;
    font-size: 1.0em;
    margin-right: 60px;
  }

  .delete-department-name{
    color: #12322b;
    font-size: 1.0em;
    margin-right: 60px;
  }

  .delete-header-logo {
    height: 50px; /* Ajusta el tamaño del logo */
    margin-left: 70px;
  }

  .delete-search-container {
    width: 300px;
    margin-left: 20px;
    margin-top: 40px;
  }

  .delete-search-container input,
  .delete-search-container select {
    width: 70%; /* Asegura que ocupen todo el ancho disponible */
    margin-bottom: 15px;
  }
  .delete-medico-table-container{
    width: 90%;
    overflow-x: auto;
    margin-top: 0px;
  }
  .delete-medico-table{
    width: 100%;
    border-collapse: collapse;
  }
  .delete-medico-table th,
  .delete-medico-table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
    font-size: 9px;
  }
  .delete-medico-table th {
    background-color: #f2f2f2;
    color: #333;
    }

}


  