.estudios-radiologicos-page {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  color: black;
}

.estudios-radiologicos-header {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px 20px;
  box-sizing: border-box;
  flex-direction: column;
}

.header-texts {
  text-align: center;
  flex-grow: 1;
}

.welcome-message {
  font-size: 24px;
  margin: 0;
  color: #0C231E;
}

.department-name {
  font-size: 18px;
  margin: 0;
  color: #0C231E;
}

.estudios-radiologicos-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabla-estudios-container {
  width: 100%;
  overflow-x: auto;
}

.tabla-estudios {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabla-estudios th, .tabla-estudios td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.tabla-estudios th {
  background-color: #f4f4f4;
}

.busqueda-estudio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.busqueda-estudio input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 60%;
}

.busqueda-estudio select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination-read-usuario {
  margin-top: 20px;
}

.pagination-read-usuario button {
  margin: 0 5px;
  padding: 10px;
  border: none;
  background-color: #12322B;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-read-usuario button.active {
  background-color: #0C231E;
}

.mensaje-confirmacion {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
}

.botones-acciones {
  display: flex;
  gap: 10px;
}

.editar-button {
  background-color: #0C231E;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editar-button:hover {
  background-color: whitesmoke;
  color: black;
}

.eliminar-button {
  background-color: #dc3545;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.eliminar-button:hover {
  background-color: whitesmoke;
  color: black;
}

.mr-machine {
  width: 100%;
  max-width: 300px;
  margin-top: 2rem;
  display: flex;
}
@media (max-width: 480px) {
  .estudios-radiologicos-header{
    width: 100%; /* Asegura que el header ocupe todo el ancho */
    text-align: center; /* Centra el texto del header */
    flex-direction: column;
    align-items: flex-start;
  }

  .estudios-radiologicos-header-logo {
    height: 50px;
    margin-left: 150px;
    margin-bottom: 10px;
  }
}
