.form-paciente {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group-cita-medica {
    margin-bottom: 10px;
}

.form-description-create-cita{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group-cita-medica label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group-cita-medica input,
.form-group-cita-medica select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.form-actions button[type="submit"] {
    background-color: #004d40;
    color: white;
}

.form-actions button[type="submit"]:hover {
    background-color: white;
    color: black;
}

.form-actions button[type="button"] {
    background-color: #dc3545;
    color: white;
}

.form-actions button[type="button"]:hover {
    background-color: white;
    color: black;
}