.gestion-citas-page {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, sans-serif;
    width: 100%; /* Asegura que el contenedor principal ocupe el 100% del ancho */
    padding: 0 10px; /* Agrega un poco de espaciado lateral */
  }
  
  .gestion-citas-header {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px; /* Reduce el espaciado */
  }
  
  .gestion-citas-medicas-header-logo {
    height: 60px;
    margin-right: 40px;
  }
  
  .gestion-citas-medicas-header-texts {
    margin: 0;
    font-size: 24px;
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }

  .gestion-citas-medicas-welcome-message{
    margin: 0;
    font-size: 16px;
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }
  
  .gestion-citas-medicas-department-name {
    margin: 0;
    font-size: 16px;
  }
  
  .mr-machine {
    width: 100%;
    max-width: 300px;
    margin-top: 2rem;
    display: flex;
  }

  .gestion-citas-tabla-container {
    overflow-x: auto; /* Permite desplazamiento horizontal */
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho */
  }
  
  .gestion-citas-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.5px; /* Reduce el espaciado alrededor del contenido */
    width: 80%;
    margin-left: 200px;
  }

  .input-gestion-citas{
    font-size: 12px;
    align-items: center;
  }
  
  .gestion-citas-ver-tabla {
    width: 90%;
    border-collapse: collapse;
    overflow-x: auto; /* Permite desplazamiento horizontal */
  }
  
  .gestion-citas-ver-tabla th, .gestion-citas-ver-tabla td {
    border: 1px solid #ddd;
    padding: 8px; /* Reduce el espaciado en celdas */
    font-size: 12px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .gestion-citas-ver-tabla th {
    background-color: whitesmoke;
    color: black;
  }

  .gestion-citas-editar-tabla {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; /* Permite desplazamiento horizontal */
  }
  
  .gestion-citas-editar-tabla th, .gestion-citas-editar-tabla td {
    border: 1px solid #ddd;
    padding: 1.5px; /* Reduce el espaciado en celdas */
    font-size: 10px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .gestion-citas-editar-tabla th {
    background-color: whitesmoke;
    color: black;
  }

  .gestion-citas-eliminar-tabla {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; /* Permite desplazamiento horizontal */
    margin-right: 160px;
  }
  
  .gestion-citas-eliminar-tabla th, .gestion-citas-eliminar-tabla td {
    border: 1px solid #ddd;
    padding: 5px; /* Reduce el espaciado en celdas */
    font-size: 12px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .gestion-citas-eliminar-tabla th {
    background-color: whitesmoke;
    color: black;
  }
  
  .gestion-citas-botones-acciones {
    display: flex;
    gap: 10px;
  }
  
  .editar-button, .eliminar-button {
    background-color: #006AA7;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .gestion-citas-editar-button:hover, .gestion-citas-eliminar-button:hover {
    background-color: #004481;
  }
  
  .mensaje-confirmacion {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .modal-confirmacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  .gestion-citas-pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Media Queries para pantallas pequeñas */
  @media (max-width: 768px) {
    .gestion-citas-content {
      padding: 5px; /* Reduce el espaciado */
    }
  
    .tabla-citas th, .tabla-citas td {
        font-size: 10px; /* Reduce aún más el tamaño de fuente */
        padding: 5px; /* Reduce el espaciado en celdas */
    }
  
    .botones-acciones {
        flex-direction: column; /* Apila botones en pantallas pequeñas */
        align-items: center; /* Centra los botones */
    }

  }
  
  /* Media Queries para tabletas */
  @media (min-width: 481px) and (max-width: 768px) {
    .gestion-citas-content {
      padding: 15px; /* Ajusta el espaciado */
    }
    .input-update-cita{
        font-size: 10px;
    }
  
    .tabla-citas th, .tabla-citas td {
      font-size: 14px; /* Ajusta el tamaño de fuente */
    }
    .gestion-citas-tabla-container {
        overflow-x: auto; /* Permite desplazamiento horizontal */
        width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho */
      }
      
      .tabla-citas {
        min-width: 600px; /* Establece un ancho mínimo para la tabla */
        border-collapse: collapse;
      }
      
      .tabla-citas th, .tabla-citas td {
        border: 1px solid #ddd;
        padding: 8px; /* Reduce el espaciado en celdas */
        font-size: 12px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
        text-align: left; /* Alinea el texto a la izquierda */
      }
  }