/* Login.css */
/*.main-layout {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.login-header {
  width: 100%;
  background-color: whitesmoke;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-logo {
  height: 60px;
}

.welcome-message {
  font-size: 1.5em;
  color: #12322B;
}

.department-name {
  font-size: 1.2em;
  color: #12322B;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Asegura que todos los elementos dentro del contenedor estén centrados verticalmente */
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin-top: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #12322B;
  text-align: left;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  width: calc(100% - 22px); /* Adjusted for padding and border */
}

button {
  padding: 10px;
  background-color: #12322B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

button:hover {
  background-color: #0C231E;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}

.mr-machine {
  max-width: 100%; /* Hacer que la imagen ocupe el ancho máximo disponible en el contenedor */
  margin: 20px auto 0; /* Ajustar el margen superior e inferior */
  display: block;
}

@media (max-width: 400px) {
  .login-container {
    max-width: 90%; /* Hacer que el contenedor ocupe el 90% del ancho de la pantalla */
    padding: 20px; /* Reducir el padding interno */
  }

  input {
    font-size: 10px; /* Disminuir el tamaño de la fuente en los campos de entrada */
  }

  button {
    padding: 8px; /* Reducir el padding del botón */
    font-size: 10px; /* Disminuir el tamaño de la fuente del botón */
  }
}

/* Ajustes para pantallas medianas (tabletas) */
@media (min-width: 768px) {
  .login-container {
    max-width: 500px; /* Aumentar el ancho máximo en pantallas medianas */
  }

  .welcome-message {
    font-size: 2em; /* Aumentar el tamaño del texto de bienvenida */
  }

  .department-name {
    font-size: 1.5em; /* Aumentar el tamaño del nombre del departamento */
  }
}

/* Ajustes para pantallas grandes (escritorios) */
@media (min-width: 1024px) {
  .login-container {
    max-width: 600px; /* Aumentar el ancho máximo en pantallas grandes */
  }

  .mr-machine {
    max-width: 400px; /* Aumentar el tamaño de la imagen */
  }
}
/*Hasta aquí la primera fase de responsividad*/
