.read-usuario-page {
  background-color: whitesmoke; /* Color de fondo */
  height: 100vh; /* Altura completa de la ventana del navegador */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Cambio realizado aquí para alinear al inicio */
  font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #0C231E;
}

.read-usuario-header {
  background-color: whitesmoke;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido del header */
}

.read-usuario-header-logo {
  margin-left: 10px; /* Agrega margen a la izquierda del logo */
}

.read-usuarios-header-texts {
  text-align: center;
  flex-grow: 1; /* Hace que los textos ocupen el espacio restante */
}

.read-usuario-welcome-message {
  font-size: 24px;
  margin: 0;
  color: #0C231E;
}

.read-usuario-department-name {
  font-size: 18px;
  margin: 0;
  color: #0C231E;
}

.read-usuario-content {
  margin-top: 20px;
  width: 100%; /* Cambiado a 100% para mejor responsividad */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.read-usuario-search-container {
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  display: flex; /* Asegura que el contenedor de búsqueda use flexbox */
}

.read-usuario-search-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.read-usuario-search-container select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.read-usuario-table-container {
  width: 100%; /* Cambiado a 100% para mejor responsividad */
  overflow-x: auto;
}

.read-usuario-table {
  width: 100%;
  border-collapse: collapse;
}

.read-usuario-table th, .read-usuario-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.read-usuario-table th {
  background-color: #f2f2f2;
  color: #333;
}

.pagination-read-usuario {
  margin-top: 20px;
}

.pagination-read-usuario button {
  margin: 0 5px;
  padding: 10px;
  border: none;
  background-color: #12322B;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-read-usuario button.active {
  background-color: #0C231E;
}

/* Nuevos estilos para la responsividad */
@media (max-width: 480px) {
  .read-usuario-header {
    flex-direction: column; /* Apila el logo y los textos */
    align-items: center; /* Centra el contenido */
  }

  .read-usuario-header-logo {
    height: 60px; /* Ajusta el tamaño del logo */
    margin-bottom: 10px; /* Espacio entre el logo y los textos */
  }

  .read-usuario-welcome-message {
    font-size: 1.2em;
  }

  .read-usuario-department-name {
    font-size: 1.0em;
  }

  .read-usuario-content {
    padding: 0 5px; /* Reducir el padding en pantallas pequeñas */
    width: 100%; /* Ajusta el ancho para pantallas pequeñas */
  }

  .read-usuario-search-container {
    flex-direction: column; /* Apila el input y el select */
    width: 50%; /* Asegura que ocupe todo el ancho */
    margin-top: -20px;
  }

  .read-usuario-search-container input,
  .read-usuario-search-container select {
    width: 100%; /* Asegura que ocupen todo el ancho disponible */
    margin-bottom: 15px;
  }

  .read-usuario-table th, .read-usuario-table td {
    padding: 6px; /* Reducir padding en pantallas pequeñas */
    font-size: 6.5px;
  }
}

@media (max-width: 819px) {
  .hamburger {
    display: block;
  }
}

@media (min-width: 820px) {
  .hamburger {
    display: none;
  }
}