.read-medico-page {
  background-color: whitesmoke; /* Color de fondo */
  height: 100vh; /* Altura completa de la ventana del navegador */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Cambio realizado aquí para alinear al inicio */
  font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #0C231E;
}
.read-medico-header {
  display: flex;
  flex-direction: inline-flex;
  width: 100%;
  background-color: whitesmoke; /* Color del encabezado */
  padding: 10px 20px;
  box-sizing: border-box;
  top: 0; /* Cambio realizado aquí para asegurarse de que esté en la parte superior */
  z-index: 100; 
}

.header-logo {
  margin-left: 10px; /* Agrega margen a la izquierda del logo */
}

.header-texts {
  text-align: center;
  flex-grow: 1; /* Hace que los textos ocupen el espacio restante */
}

.welcome-message {
  font-size: 24px;
  margin: 0;
  color: #0C231E; /* Ajusta el color y tamaño según la preferencia */
}

.department-name {
  font-size: 18px;
  margin: 0;
  color: #0C231E;
}

.read-medico-content {
  margin-top: 20px;
  width: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.search-container select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.table-container {
  width: 70%;
  overflow-x: auto;
}

.medico-table {
  width: 100%;
  border-collapse: collapse;
}

.medico-table th, .medico-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.medico-table th {
  background-color: #f2f2f2;
  color: #333;
}

.pagination-read-medico {
  margin-top: 20px;
}

.pagination-read-medico button {
  margin: 0 5px;
  padding: 10px;
  border: none;
  background-color: #004d40;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-read-medico button.active {
  background-color: #002d20;
}

/* Nuevos estilos para la responsividad */
@media (max-width: 480px) {
  .header-logo{
    display: flex
  }
  .hamburger-menu {
    display: block;
    position: fixed;
    top: 150px;
    left: 70px;
    z-index: 1001;
    background-color: #12322B; /* Cambia el color de fondo */
    padding: 5px;
    border-radius: 5px;
    color: white; /* Asegura que el texto sea visible */
    font-size: 14px;
    width: 120px;
  }
    
}