/* ReadMedico.css */

/* Estilos Base - Mobile-First */

.read-medico {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: whitesmoke;
  font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0C231E;
}

.read-medico__header {
  width: 100%;
  background-color: whitesmoke;
  padding: 1.25rem; /* 20px */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read-medico__header-logo {
  height: 3.75rem; /* 60px */
  margin-bottom: 0.625rem; /* 10px */
}

.read-medico__header-texts {
  text-align: center;
}

.read-medico__welcome-message {
  font-size: 1.5rem; /* 24px */
  margin: 0.3125rem; /* 5px */
  color: #12322B;
}

.read-medico__department-name {
  font-size: 1.125rem; /* 18px */
  margin: 0;
  color: #0C231E;
}

.main-layout {
  display: flex;
  flex: 1;
  width: 100%;
}

.read-medico__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem; /* 20px */
  box-sizing: border-box;
}

.read-medico__search-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 25rem; /* 400px */
  margin-bottom: 1.25rem; /* 20px */
}

.read-medico__search-container input,
.read-medico__search-container select {
  padding: 0.5rem; /* 10px */
  font-size: 0.875rem; /* 16px */
  border: 1px solid #ddd;
  border-radius: 0.3125rem; /* 5px */
  margin-bottom: 0.5rem; /* 10px */
}

.read-medico__table-container {
  width: 100%;
  overflow-x: auto;
}

.read-medico__table {
  width: 100%;
  border-collapse: collapse;
}

.read-medico__table th,
.read-medico__table td {
  border: 0.25rem solid #ddd;
  padding: 0.25rem; /* 8px */
  text-align: left;
  font-size: 0.5rem; /* 14px */
}

.read-medico__table th {
  background-color: #f2f2f2;
  color: #333;
}

.read-medico__pagination {
  margin-top: 1.25rem; /* 20px */
}

.read-medico__pagination button {
  margin: 0 0.3125rem; /* 5px */
  padding: 0.625rem; /* 10px */
  border: none;
  background-color: #12322B;
  color: white;
  border-radius: 0.3125rem; /* 5px */
  cursor: pointer;
}

.read-medico__pagination button.active {
  background-color: #0C231E;
}

/* Media Queries */

/* Pantallas grandes (mínimo 820px) */
@media (min-width: 820px) {
  .read-medico {
    margin-left: 15.625rem; /* 250px, ancho de la sidebar */

  }

  .read-medico__header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.25rem 2rem;
  }

  .read-medico__header-logo {
    margin-right: 1.25rem; /* 20px */
    margin-bottom: 0;
  }

  .read-medico__header-texts {
    text-align: left;
  }

  .read-medico__welcome-message {
    font-size: 2rem; /* 32px */
    margin: 0;
  }

  .read-medico__department-name {
    font-size: 1.25rem; /* 20px */
    margin: 0;
  }

  .read-medico__content {
    padding: 2rem; /* 32px */
  }

  .read-medico__search-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: none;
    width: 100%;
    margin-bottom: 1.875rem; /* 30px */
  }

  .read-medico__search-container input,
  .read-medico__search-container select {
    margin-right: 1.25rem; /* 20px */
    margin-bottom: 0;
    width: auto;
  }

  .read-medico__table-container {
    width: 100%;
  }

  .read-medico__table th,
  .read-medico__table td {
    padding: 0.75rem; /* 12px */
    font-size: 1rem; /* 16px */
  }

  .read-medico__pagination {
    margin-top: 1.875rem; /* 30px */
  }
}

@media (min-width: 1200px) {
  .read-medico__header {
    flex-direction: row;
    align-items: center;
    padding: 1.25rem 3rem; /* Aumentar el padding */
  }

  .read-medico__header-logo {
    margin-bottom: 0;
  }

  .read-medico__header-texts {
    text-align: center; /* Alinear el texto a la izquierda */
  }

  .read-medico__welcome-message {
    font-size: 2.5rem; /* Aumentar el tamaño de la fuente */
    margin: 0;
  }

  .read-medico__department-name {
    font-size: 1.5rem; /* Aumentar el tamaño de la fuente */
    margin: 0;
  }
}

@media (min-width: 1800px) {
  .read-medico__header {
    flex-direction: row;
    align-items: center;
    padding: 1.25rem 4rem; /* Aumentar el padding */
  }

  .read-medico__header-logo {
    margin-left: 12rem; /* Aumentar el margen izquierdo */
    margin-bottom: 0;
  }

  .read-medico__header-texts {
    text-align: left; /* Alinear el texto a la izquierda */
  }

  .read-medico__welcome-message {
    font-size: 3rem; /* Aumentar el tamaño de la fuente */
    margin: 0;
  }

  .read-medico__department-name {
    font-size: 2rem; /* Aumentar el tamaño de la fuente */
    margin: 0;
  }
}

@media (max-width: 819px) {
  .read-medico__search-container input,
  .read-medico__search-container select {
    font-size: 0.75rem; /* 12px */
    padding: 0.375rem; /* 6px */
  }

  .read-medico__pagination button {
    font-size: 0.75rem; /* 12px */
    padding: 0.375rem 0.75rem; /* 6px 12px */
  }
}

@media (max-width: 560px) {
  .read-medico__search-container input,
  .read-medico__search-container select {
    font-size: 0.625rem; /* 10px */
    padding: 0.25rem; /* 4px */
  }

  .read-medico__pagination button {
    font-size: 0.625rem; /* 10px */
    padding: 0.25rem 0.5rem; /* 4px 8px */
  }
}

@media (max-width: 420px) {
  .read-medico__search-container {
    width: 100%;
    max-width: 20rem; /* 320px */
  }

  .read-medico__search-container input,
  .read-medico__search-container select {
    width: 100%;
    max-width: 20rem; /* 320px */
  }
}

@media (min-width: 421px) {
  .read-medico__search-container {
    width: 100%;
    max-width: 25rem; /* 400px */
  }

  .read-medico__search-container input,
  .read-medico__search-container select {
    width: 100%;
    max-width: 25rem; /* 400px */
  }
}
