.reportes-estudios-page {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #0C231E;
}

.reportes-estudios-header {
    background-color: #f5f5f5;
      box-sizing: border-box;
      display: flex;
      flex-direction: inline-flex;
      padding: 10px 20px;
      top: 0;
      z-index: 100;
}

.reportes-estudios-header-logo {
    margin-right: 10px; /* Margen a la izquierda del logo */
    height: 60px;
}
.reportes-estudios-header-text{
    text-align: center;
    flex-grow: 1; /* Ocupa el espacio restante */
}

.welcome-reportes-estudios{
    font-size: 24px;
    color: #0C231E; /* Color y tamaño */
    margin: 0px;
}

.departamento-reportes-estudios{
    font-size: 18px;
    color: #0C231E;
    margin: 0px;
}

.reporte-busqueda-estudio {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.reporte-busqueda-estudio input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin:0;
    margin-right: 10px;
}

.reporte-busqueda-estudio select{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin:0px;
}

.reporte-estudios-radiologicos-boton{
    background-color: #0C231E;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.tabla-estudios-container{
    width: 70%;
    overflow-x: auto;
}

.tabla-estudios {
    width: 100%;
    border-collapse: collapse;
}

.tabla-estudios th, .tabla-estudios td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabla-estudios th {
    background-color: #f2f2f2;
}
@media (max-width:480px){
    .reportes-estudios-page {
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    .reportes-estudios-header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .reportes-estudios-header-logo {
        height: 40px;
        margin-right: 20px;
    }
    .busqueda-estudio {
        margin-bottom: 10px;
    }
    .tabla-estudios {
        width: 100%;
        border-collapse: collapse;
    }
    .tabla-estudios th, .tabla-estudios td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    .tabla-estudios th {
        background-color: #f2f2f2;
    }
}