.reportes-estudios-page {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.reportes-estudios-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reportes-estudios-header-logo {
    height: 60px;
    margin-right: 20px;
}
.welcome-reportes-estudios{
    margin-top: 20px;
    font-size: 1.0em;
    font-weight: bold;
}

.departamento-reportes-estudios{
    margin-top: 10px;
    font-size: 0.8em;
}

.busqueda-estudio {
    margin: 20px;
}

.reporte-estudios-radiologicos-boton{
    margin-bottom: 5px;
    margin-top: 10px;
}

.tabla-estudios {
    width: 100%;
    border-collapse: collapse;
}

.tabla-estudios th, .tabla-estudios td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabla-estudios th {
    background-color: #f2f2f2;
}
@media (max-width:480px){
    .reportes-estudios-page {
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    .reportes-estudios-header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .reportes-estudios-header-logo {
        height: 40px;
        margin-right: 20px;
    }
    .busqueda-estudio {
        margin-bottom: 10px;
    }
    .tabla-estudios {
        width: 100%;
        border-collapse: collapse;
    }
    .tabla-estudios th, .tabla-estudios td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    .tabla-estudios th {
        background-color: #f2f2f2;
    }
}