.reporte-hospitales-page {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #0C231E;
}

.reporte-hospitales-header {
    background-color: #f5f5f5;
      box-sizing: border-box;
      display: flex;
      flex-direction: inline-flex;
      padding: 10px 20px;
      top: 0;
      z-index: 100;
}

.reporte-hg-header-logo {
    margin-right: 10px; /* Margen a la izquierda del logo */
    height: 60px;
}

.reporte-hospitales-header-text{
    text-align: center;
    flex-grow: 1; /* Ocupa el espacio restante */
}

.welcome-reporte-hospitales{
    font-size: 24px;
    margin: 0;
    color: #0C231E; /* Color y tamaño */
}

.departamento-reporte-hospitales{
    font-size: 18px;
    margin: 0;
    color: #0C231E; /* Color y tamaño */
}

.busqueda-reporte-hospital {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.busqueda-reporte-hospital input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin:0;
    margin-right: 10px;
}

.busqueda-reporte-hospital select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin:0px;
}

.imprimir-reporte-hospitales-boton {
    background-color: #0C231E;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.imprimir-reporte-hospitales-boton:hover {
    background-color: whitesmoke;
    color: black;
}

.tabla-reporte-hospitales-container {
    width: 80%;
    overflow-x: auto;
    margin-top: 10px;
}

.tabla-reporte-hospitales{
    width: 100%;
    border-collapse: collapse;
}

.tabla-reporte-hospitales th, .tabla-reporte-hospitales td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabla-reporte-hospitales th {
    background-color: #f4f4f4;
}


@media (max-width: 480px) {
    .reporte-hospitales-header {
        width: 100%;
        text-align: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .hg-header-logo {
        height: 50px;
        margin-left: 150px;
        margin-bottom: 10px;
    }
}