.reporte-citas-page {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #0C231E;
}

.reporte-citas-header {
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px 20px;
    box-sizing: border-box;
    align-items: center;
}

.citas-header-logo {
    margin-left: 10px;
    height: 60px;
    margin-right: 40px;
}



.welcome-reportes-citas {
    font-size: 24px;
}

.departamento-reportes-citas {
    font-size: 18px;
}

.busqueda-cita {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.busqueda-cita {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.fila {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 600px; /* Ajusta según sea necesario */
}

.busqueda-cita input,
.busqueda-cita select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60%;
    max-width: 300px; /* Limitar el ancho máximo para inputs */
}

button {
    background-color: #0C231E;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: whitesmoke;
    color: black;
}

.tabla-citas-container {
    width: 80%;
    overflow-x: auto;
    margin-top: 40px;
}

.tabla-citas {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabla-citas th, .tabla-citas td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tabla-citas th {
    background-color: #f4f4f4;
}

.pagination-read-usuario {
    margin-top: 20px;
}

.pagination-read-usuario button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    background-color: #12322B;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-read-usuario button.active {
    background-color: #0C231E;
}

@media (max-width: 480px) {
    .reporte-citas-header {
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .citas-header-logo {
        height: 50px;
        margin-left: 50px;
        margin-bottom: 10px;
    }

    .welcome-reportes-citas {
        display: flex;
        flex-direction: column;
        font-size: 1.0em;
        margin-bottom: 0px;
    }
    
    .departamento-reportes-citas {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        margin-top: 0px;
    }

    .busqueda-cita {
        width: 90%;
        margin-top: 0px;

    }
    .fila {
        flex-direction: column;
        align-items: stretch;
    }

    .busqueda-cita input,
    .busqueda-cita select {
        width: 40%;
        margin-bottom: 0px;
        font-size: 10px;
    }

    .tabla-citas-container {
        width: 100%;
        margin-top: 0px;
    }
    .tabla-citas {
        border-collapse: collapse;
        margin-bottom: 20px;
        width: 90%;
        margin-left: 20px;
    }
    .tabla-citas td, .tabla-citas th {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
        font-size: 9px;
    }
}