.reporte-medico-page {
    background-color: whitesmoke; /* Color de fondo */
    height: 100vh; /* Altura completa de la ventana del navegador */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alineación al inicio */
    font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #0C231E;
  }
  
  .reporte-medico-header {
    display: flex;
    flex-direction: inline-flex;
    width: 100%;
    background-color: whitesmoke; /* Color del encabezado */
    padding: 10px 20px;
    box-sizing: border-box;
    top: 0; /* Asegura que esté en la parte superior */
    z-index: 100; 
  }
  
  .reporte-medico__header-logo {
    margin-left: 10px; /* Margen a la izquierda del logo */
    height: 60px;
  }
  
  .header-texts {
    text-align: center;
    flex-grow: 1; /* Ocupa el espacio restante */
  }
  
  .welcome-message {
    font-size: 24px;
    margin: 0;
    color: #0C231E; /* Color y tamaño */
  }
  
  .department-name {
    font-size: 18px;
    margin: 0;
    color: #0C231E;
  }
  
  .reporte-medico-content {
    margin-top: 20px;
    width: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .search-container {
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .table-container {
    width: 70%;
    overflow-x: auto;
  }
  
  .medico-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .medico-table th, .medico-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .medico-table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .pagination-read-medico {
    margin-top: 20px;
  }
  
  .pagination-read-medico button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    background-color: #004d40;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination-read-medico button.active {
    background-color: #002d20;
  }

  .pdf-button{
    margin-bottom: 10px;
  }
  
  /* Nuevos estilos para la responsividad */
  @media (max-width: 480px) {
    .reporte-medico-header {
      width: 100%; /* Asegura que el header ocupe todo el ancho */
      text-align: center; /* Centra el texto del header */
      flex-direction: column;
      margin-left: 40px;
      align-items: flex-start;
    }
  
    .header-texts {
      text-align: left; /* Alinea los textos a la izquierda */
    }
  
    .welcome-message {
      font-size: 1.2em;
      text-align: center;
      margin-right: 40px;
    }
  
    .department-name {
      font-size: 1.0em;
      text-align: center;
      margin-right: 40px;
    }
  
    .reporte-medico__header-logo {
      height: 60px; /* Ajusta el tamaño del logo */
      margin-left: 140px; /* Elimina el margen derecho */
      margin-bottom: 10px; /* Espacio entre el logo y los textos */
    }
  
    .reporte-medico-content {
      padding: 0 5px; /* Reducir el padding en pantallas pequeñas */
      width: 70%;
    }
  
    .search-container {
      display: flex;
      width: 350px;
      margin-top: 70px;
    }
  
    .search-container input,
    .search-container select {
      width: 100%; /* Asegura que ocupen todo el ancho disponible */
      margin-bottom: 15px;
    }
  
    .medico-table th, .medico-table td {
      padding: 6px; /* Reducir padding en pantallas pequeñas */
      font-size: 9px;
    }
  
    .table-container {
      width: 100%;
      overflow-x: auto;
      margin-top: 10px;
      margin-left: 40px;
    }
    .medico-table-container {
      margin-top: 0;
      overflow-x: auto;
      width: 100%;
  }
    .medico-table {
      border-collapse: collapse;
      width: 90%;
  }
  }