/* src/components/Sidebar.css */
.sidebar {
    width: 250px;
    background-color: #12322B;
    color: white;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
  }
  
  .sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
    position: relative;
  }
  
  .sidebar ul li:hover {
    background-color: #0C231E;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .submenu {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 0;
    left: 250px;
    background-color: #12322B;
    width: 250px;
    display: none;
  }
  
  .sidebar ul li:hover .submenu {
    display: block;
  }
  
  .submenu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .submenu li:hover {
    background-color: #0C231E;
  }
  
  