/* Sidebar.css */

.sidebar {
  height: 100vh;
  background-color: #12322B;
  color: white;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000;
  width: 250px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}
.sidebar ul li:hover {
  background-color: #4a8b7f; /* Cambia este color al que prefieras */
}
.active-user {
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
}

.submenu {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  background-color: #12322B;
  width: 100%;
  z-index: 1000;
  padding: 0;
  list-style: none;
  font-size: 0.9em;
}

.submenu li {
  font-size: 0.8em;
}

.sidebar-button{
  font-size: 16px;
  padding: 1px;
}

.arrow {
  margin-left: 40px;
  transform: rotate(90deg);
  display: none;
}

.arrow.open {
  transform: rotate(180deg);
}

.main-layout .content {
  margin-left: 250px; /* Ajustar esto al ancho de tu barra lateral */
  padding: 20px;
}

/* Ajustes adicionales para el encabezado */
.login-header {
  padding-left: 250px; /* Ajustar esto al ancho de tu barra lateral */
}
@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    height: auto;
    display: none;
  }

  .hamburger-menu {
    display: block;
    position: fixed;
    top: 20px;
    left: 70px;
    z-index: 1001;
    background-color: #12322B; /* Cambia el color de fondo */
    padding: 5px;
    border-radius: 5px;
    color: white; /* Asegura que el texto sea visible */
    font-size: 14px;
    width: 120px;
  }

  .hamburger-menu ul {
    list-style: none;
    padding: 0;
  }

  .hamburger-menu ul li {
    padding: 5px;
    cursor: pointer;
    position: relative;
    color: white; /* Asegura que el texto sea visible */
  }

  .hamburger-menu ul li a {
    color: white; /* Asegura que los enlaces sean visibles */
    text-decoration: none;
    display: block;
  }

  .hamburger-menu ul li:hover {
    background-color: #4a8b7f; /* Cambia este color al que prefieras */
  }

  .hamburger-menu .submenu {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    background-color: #12322B;
    width: 100%;
    z-index: 1000;
    padding: 0;
    list-style: none;
    font-size: 0.9em;
  }

  .hamburger-menu .submenu li {
    font-size: 0.8em;
  }
  .sidebar-button {
    font-size: 14px;
    padding: 1px;
    background: whitesmoke;
    color: black;
}
}

@media (max-width: 820px) {
  .hamburger {
    display: block;
  }
}

@media (min-width: 821px) {
  .hamburger {
    display: none;
  }
}

.hamburger {
  cursor: pointer;
  position: fixed;
  top: 150px;
  left: 25px;
  z-index: 1001;
  background-color: #fff; /* Cambia el color de fondo */
  padding: 10px;
  border-radius: 5px;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #12322B; /* Cambia el color de las líneas */
  margin: 5px 0;
}
  
  
  