/* Sidebar.css */

/* Estilos Base - Mobile-First */
.sidebar {
  background-color: #12322B;
  color: white;
  padding: 0.9375rem; /* 15px */
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: -15.625rem; /* -250px, ocultar sidebar en móviles */
  height: 100vh;
  width: 15.625rem; /* 250px */
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  left: 0; /* Mostrar sidebar cuando está activa */
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 1.25rem; /* 20px */
  font-size: 1.125rem; /* 18px */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 0.625rem 0; /* 10px */
  cursor: pointer;
  font-size: 1rem; /* 16px */
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li:hover {
  background-color: #4a8b7f;
}

.active-user {
  font-size: 0.75rem; /* 12px */
  color: black;
  margin-top: 1.25rem; /* 20px */
}

.sidebar-button {
  font-size: 0.875rem; /* 14px */
  padding: 0.3125rem 0.625rem; /* 5px 10px */
  background: whitesmoke;
  color: black;
  border: none;
  border-radius: 0.1875rem; /* 3px */
  cursor: pointer;
}

/* Botón Hamburguesa */
.hamburger {
  display: block; /* Mostrar por defecto en móviles */
  cursor: pointer;
  position: fixed;
  top: 1.25rem; /* 20px */
  left: 1.25rem; /* 20px */
  z-index: 1001;
  background-color: #fff;
  padding: 0.625rem; /* 10px */
  border-radius: 0.3125rem; /* 5px */
}

.hamburger div {
  width: 1.875rem; /* 30px */
  height: 0.1875rem; /* 3px */
  background-color: #12322B;
  margin: 0.3125rem 0; /* 5px */
}

/* Overlay */
.overlay {
  display: none;
}

.overlay.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Medias Queries */

/* Tablets y Pantallas Medianas */
@media (min-width: 480px) {
  /* Mostrar Sidebar por defecto */
  .sidebar {
    left: 0;
  }

  /* Ocultar Botón Hamburguesa */
  .hamburger {
    display: none;
  }

  /* Ajustar Main Layout para incluir sidebar */
  .main-layout .content {
    margin-left: 15.625rem; /* 250px */
  }

  .login-header {
    padding-left: 15.625rem; /* 250px */
  }
}

/* Laptops y Pantallas Grandes */
@media (min-width: 1024px) {
  /* Ancho de Sidebar */
  .sidebar {
    width: 15.625rem; /* 250px */
  }

  /* Ajustar Margen del Contenido */
  .main-layout .content {
    margin-left: 15.625rem; /* 250px */
  }

  .login-header {
    padding-left: 15.625rem; /* 250px */
  }
}
