/* SuperRoot.css */

.super-root-page {
  display: flex;
}

.content-area {
  margin-left: 250px; /* Ajusta según el ancho de tu sidebar */
  width: calc(100% - 250px);
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #0C231E;
}

.super-root-header {
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header-logo {
  height: 80px;
}

.header-texts {
  text-align: center;
  flex-grow: 1;
}

.welcome-message {
  font-size: 24px;
  margin: 0;
  color: #0C231E;
}

.department-name {
  font-size: 18px;
  margin: 0;
  color: #0C231E;
}

.super-root-content {
  margin-top: 150px; /* Ajusta según el tamaño del encabezado */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mr-machine {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}




