/* SuperRoot.css */

.super-root {
  display: flex;
}

.super-root__content-area {
  margin-left: 250px; /* Ajusta según el ancho de tu sidebar */
  width: calc(100% - 250px);
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #0C231E;
}

.super-root__header {
  width: 100%;
  background-color: whitesmoke;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea elementos al inicio */
  top: 0;
  z-index: 100;
}

.super-root__header-content { 
  display: flex;
  align-items: center;
  width: 100%; /* Ocupa todo el ancho disponible */
}

.super-root__hamburger-container {
  margin-right: 20px; /* Espacio entre el menú y el logo */
}

.super-root__header-logo {
  height: 80px;
}

.super-root__header-texts {
  text-align: left; 
  margin-left: 20px; /* Espacio entre el logo y los textos */
}

.super-root__welcome-message {
  font-size: 24px;
  margin: 0;
  color: #0C231E;
}

.super-root__department-name {
  font-size: 18px;
  margin: 0;
  color: #0C231E;
}

.super-root__main {
  margin-top: 150px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.super-root__mr-machine {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

@media (max-width: 480px) {
  .sidebar {
    background-color: #12322b;
    color: #fff;
    padding: 15px;
    width: 160px;
  }

  .super-root__content-area {
    margin-left: 0; 
    width: 100%;
  }

  .super-root__header {
    padding: 10px;
    flex-direction: column; /* Logo y textos en columna */
    align-items: flex-start; /* Alinea a la izquierda */
    margin-left: 40px;
  }

  .super-root__header-content {
    width: 100%; /* Ocupa todo el ancho disponible */
  }

  .super-root__header-logo {
    height: 60px; /* Ajusta el tamaño del logo */
    margin-right: 0; /* Elimina el margen derecho */
    margin-bottom: 10px; /* Espacio entre el logo y los textos */
  }

  .super-root__header-texts {
    text-align: left; /* Alinea los textos a la izquierda */
  }

  .super-root__welcome-message {
    font-size: 1.2em;
  }

  .super-root__department-name {
    font-size: 1.0em;
  }

  .super-root__mr-machine {
    margin-left: 20px;
    margin-top: 70px;
    width: 100%;
  }
}