/* UnidadesMedicinaFamiliar.css */

/* Estilos Base - Mobile-First */

.unidades-medicina-familiar {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #0C231E;
  text-align: center;
}

.unidades-medicina-familiar__header {
  width: 100%;
  background-color: whitesmoke;
  padding: 1.25rem; /* 20px */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unidades-medicina-familiar__header-logo {
  height: 3.75rem; /* 60px */
  margin-bottom: 0.625rem; /* 10px */
}

.unidades-medicina-familiar__header-texts {
  text-align: center;
}

.unidades-medicina-familiar__welcome-message {
  font-size: 1.5rem; /* 24px */
  margin: 0.3125rem; /* 5px */
  color: #0C231E;
}

.unidades-medicina-familiar__department-name {
  font-size: 1.125rem; /* 18px */
  margin: 0;
}

.unidades-medicina-familiar__mr-machine {
  width: 100%;
  max-width: 18.75rem; /* 300px */
  margin-top: 2rem;
}

.unidades-medicina-familiar__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem; /* 16px */
  align-items: center;
}

.unidades-medicina-familiar__message-confirmation {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 0.625rem; /* 10px */
  border-radius: 0.3125rem; /* 5px */
  margin-bottom: 1.25rem; /* 20px */
}

.unidades-medicina-familiar__search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 25rem; /* 400px */
  margin-bottom: 1.25rem; /* 20px */
  flex-direction: row;
}

.unidades-medicina-familiar__search-input,
.unidades-medicina-familiar__search-select {
  padding: 0.625rem; /* 10px */
  font-size: 1rem; /* 16px */
  border: 1px solid #ddd;
  border-radius: 0.3125rem; /* 5px */
  margin-right: 0.625rem; /* 10px */
  width: 100%;
}

.unidades-medicina-familiar__search-select {
  margin-right: 0;
}

.unidades-medicina-familiar__table-container {
  width: 100%;
  overflow-x: auto; /* Permite desplazamiento horizontal */
}

.unidades-medicina-familiar__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.25rem; /* 20px */
  table-layout: fixed; /* Distribuye las columnas de manera uniforme */
}

.unidades-medicina-familiar__table th,
.unidades-medicina-familiar__table td {
  border: 1px solid #ddd;
  padding: 0.5rem; /* 8px */
  font-size: 0.875rem; /* 14px */
  text-align: center;
  word-wrap: break-word; /* Permite que el texto se ajuste */
}

.unidades-medicina-familiar__table th {
  background-color: #f2f2f2;
  color: #333;
}

.unidades-medicina-familiar__input {
  width: 100%;
  padding: 0.375rem; /* 6px */
  font-size: 0.875rem; /* 14px */
  border: 1px solid #ddd;
  border-radius: 0.3125rem; /* 5px */
  box-sizing: border-box; /* Incluye padding y borde en el cálculo del ancho */
}

.unidades-medicina-familiar__actions {
  display: flex;
  gap: 0.625rem; /* 10px */
}

.unidades-medicina-familiar__button {
  background-color: #12322B;
  color: white;
  border: none;
  padding: 0.3125rem 0.625rem; /* 5px 10px */
  border-radius: 0.3125rem; /* 5px */
  font-size: 0.875rem; /* 14px */
  cursor: pointer;
}

.unidades-medicina-familiar__button--guardar {
  background-color: #12322B;
}

.unidades-medicina-familiar__button--eliminar {
  background-color: red;
}

.unidades-medicina-familiar__button:hover {
  opacity: 0.9;
}

.unidades-medicina-familiar__pagination {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem; /* 20px */
}

.unidades-medicina-familiar__pagination-button {
  padding: 0.625rem 0.9375rem; /* 10px 15px */
  margin: 0 0.3125rem; /* 0 5px */
  background-color: #12322B;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.unidades-medicina-familiar__pagination-button--active {
  background-color: #0C231E;
}

.unidades-medicina-familiar__pagination-button:hover {
  background-color: #0C231E;
}

/* Media Queries */

/* Pantallas grandes (mínimo 820px) */
@media (min-width: 820px) {

.unidades-medicina-familiar{
  margin-left: 15.625rem; /* 250px, ancho de la sidebar si existe */
}

  .unidades-medicina-familiar__header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 2rem;
  }

  .unidades-medicina-familiar__header-logo {
    margin-bottom: 0;
    margin-right: 1.25rem; /* 20px */
  }

  .unidades-medicina-familiar__header-texts {
    text-align: center;
  }

  .unidades-medicina-familiar__welcome-message {
    font-size: 1.5rem; /* 32px */
    margin: 0;
  }

  .unidades-medicina-familiar__department-name {
    font-size: 1.25rem; /* 20px */
    margin: 0;
  }

  .unidades-medicina-familiar__content {
    padding: 2rem; /* 32px */
  }

  .unidades-medicina-familiar__search {
    width: 100%; /* Aumentamos el ancho de la barra de búsqueda */
    display: flex;
  }

  .unidades-medicina-familiar__search-input,
  .unidades-medicina-familiar__search-select {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ddd;
    border-radius: 0.3125rem;
    height: fit-content;
  }

  .unidades-medicina-familiar__table th,
  .unidades-medicina-familiar__table td {
    padding: 0.75rem; /* 12px */
    font-size: 1rem; /* 16px */
  }

  .unidades-medicina-familiar__input {
    padding: 0.5rem; /* 8px */
    font-size: 1rem; /* 16px */
  }

  .unidades-medicina-familiar__pagination {
    margin-top: 1.875rem; /* 30px */
  }

  /* Disposición de las vistas de edición y eliminación */
  .unidades-medicina-familiar__edit,
  .unidades-medicina-familiar__delete {
    width: 100%;
    max-width: 60rem; /* 960px */
    margin: 0 auto;
  }

  .unidades-medicina-familiar__table-container {
    width: 100%;
  }

  /* Mejor alineación de los botones en vistas grandes */
  .unidades-medicina-familiar__actions {
    justify-content: center;
  }
}

/* Pantallas muy grandes (mínimo 1200px) */
@media (min-width: 1200px) {
  .unidades-medicina-familiar__header {
    flex-direction: row;
    align-items: center;
    padding: 1rem 3rem; /* Aumentar el padding */
  }

  .unidades-medicina-familiar__header-logo {
    margin-left: 10rem; /* Aumentar el margen izquierdo */
    margin-bottom: 0;
  }

  .unidades-medicina-familiar__header-texts {
    text-align: center; /* Alinear el texto a la izquierda */
  }

  .unidades-medicina-familiar__welcome-message {
    font-size: 2.5rem; /* Aumentar el tamaño de la fuente */
    margin: 0;
  }

  .unidades-medicina-familiar__department-name {
    font-size: 1.5rem; /* Aumentar el tamaño de la fuente */
    margin: 0;
  }
}

/* Pantallas muy grandes (mínimo 1800px) */
@media (min-width: 1800px) {
  .unidades-medicina-familiar__header {
    flex-direction: row;
    align-items: center;
    padding: 1rem 4rem; /* Aumentar el padding */
  }

  .unidades-medicina-familiar__header-logo {
    margin-left: 12rem; /* Aumentar el margen izquierdo */
    margin-bottom: 0;
  }

  .unidades-medicina-familiar__header-texts {
    text-align: left; /* Alinear el texto a la izquierda */
  }

  .unidades-medicina-familiar__welcome-message {
    font-size: 3rem; /* Aumentar el tamaño de la fuente */
    margin: 0;
  }

  .unidades-medicina-familiar__department-name {
    font-size: 2rem; /* Aumentar el tamaño de la fuente */
    margin: 0;
  }
}

/* Pantallas medianas (máximo 819px) */
@media (max-width: 819px) {
  .unidades-medicina-familiar__table th,
  .unidades-medicina-familiar__table td {
    font-size: 0.75rem; /* 12px */
    padding: 0.375rem; /* 6px */
  }

  .unidades-medicina-familiar__button {
    font-size: 0.75rem; /* 12px */
    padding: 0.25rem 0.5rem; /* 4px 8px */
  }
}

/* Pantallas pequeñas (máximo 560px) */
@media (max-width: 560px) {
  .unidades-medicina-familiar__table th,
  .unidades-medicina-familiar__table td {
    font-size: 0.625rem; /* 10px */
    padding: 0.25rem; /* 4px */
  }

  .unidades-medicina-familiar__button {
    font-size: 0.625rem; /* 10px */
    padding: 0.25rem 0.5rem; /* 4px 8px */
  }
}

/* Pantallas muy pequeñas (máximo 420px) */
@media (max-width: 420px) {
  .unidades-medicina-familiar__header {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }

  .unidades-medicina-familiar__header-logo {
    height: 50px;
    margin-left: 10rem;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .unidades-medicina-familiar__table-container {
    display: block; /* Ocultar la tabla en pantallas muy pequeñas */
  }

  /* Ajustes para la barra de búsqueda en pantallas muy pequeñas */
  .unidades-medicina-familiar__search {
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
  }

  .unidades-medicina-familiar__search-input,
  .unidades-medicina-familiar__search-select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px; /* 10px */
  }
}

/* Pantallas medianas (mínimo 421px) y máximo 819px */
@media (min-width: 421px) and (max-width: 819px) {
  .unidades-medicina-familiar__table-container {
    display: block; /* Mostrar la tabla */
  }
}
