/* UpdateUsuario.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.update-usuario-page {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #0C231E;
}

.update-usuario-header {
  display: flex;
  background-color: whitesmoke;
  padding: 10px 20px;
  box-sizing: border-box;
  top: 0;
  z-index: 100;
}

.header-logo-update-usuario {
  height: 60px;
}

.header-texts-update-usuario {
  margin-left: 20px;
  text-align: left;
}

.welcome-message-update-usuario {
  font-size: 24px;
  margin: 0;
  color: #0C231E;
}

.department-name-update-usuario {
  font-size: 18px;
  margin: 0;
  color: #0C231E;
}

.update-usuario-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-message {
  color: green;
  margin-bottom: 20px;
}

.update-search-container {
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.update-search-container input, .update-search-container select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.update-usuario-table-container {
  width: 100%;
  overflow-x: auto;
}

.usuario-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.update-usuario-table, .usuario-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.update-usuario-table {
  background-color: #f4f4f4;
}

.pagination-update-usuario {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.pagination-update-usuario button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #12322B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-update-usuario button.active {
  background-color: #0C231E;
}

.pagination-update-usuario button:hover {
  background-color: #0C231E;
}

/* Responsividad */
@media (max-width: 480px) {
  .update-usuario-header {
    width: 100%; /* Asegura que el header ocupe todo el ancho */
    text-align: center; /* Centra el texto del header */
    flex-direction: column;
    align-items: flex-start;
  }

  .header-texts-update-usuario {
    text-align: center;
    width: 90%;
    margin-left: 50px;
  }

  .welcome-message-update-usuario {
    font-size: 1.2em;
    text-align: center;
    margin-right: 90px;
  }

  .department-name-update-usuario {
    font-size: 1.0em;
    text-align: center;
    margin-right: 90px;
  }

  .update-usuario-content {
    padding: 0 5px; /* Reducir el padding en pantallas pequeñas */
    width: 80%;
  }

  .update-search-container {
    width: 300px;
    margin-top: 75px;
  }

  .update-search-container input,
  .update-search-container select {
    width: 70%; /* Asegura que ocupen todo el ancho disponible */
    margin-bottom: 15px;
  }

  .update-usuario-table, .usuario-table td {
    padding: 6px; /* Reducir padding en pantallas pequeñas */
    font-size: 6.5px;
  }

  .update-usuario-table-container {
    width: 90%;
    overflow-x: auto;
    margin-top: 0px;
  }
  .header-logo-update-usuario{
    margin-left: 180px; 
    height: 60px;
  }
}