.update-medico-page {
  background-color: whitesmoke; /* Color de fondo */
  height: 100vh; /* Altura completa de la ventana del navegador */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Cambio realizado aquí para alinear al inicio */
  font-family: 'Montserrat', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #0C231E;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #004d40;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.update-medico-header {
  display: flex;
  flex-direction: inline-flex;
  width: 100%;
  background-color: whitesmoke; /* Color del encabezado */
  padding: 10px 20px;
  box-sizing: border-box;
  top: 0; /* Cambio realizado aquí para asegurarse de que esté en la parte superior */
  z-index: 100; 
}

.header-logo {
  margin-left: 10px; /* Agrega margen a la izquierda del logo */
}

.header-texts {
  text-align: center;
  flex-grow: 1; /* Hace que los textos ocupen el espacio restante */
}

.welcome-message {
  font-size: 24px;
  margin: 0;
  color: #0C231E; /* Ajusta el color y tamaño según la preferencia */
}

.department-name {
  font-size: 18px;
  margin: 0;
  color: #0C231E;
}

.update-medico-content {
  width: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-message {
  color: green;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.search-container select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.medico-table-container {
  width: 100%;
}

.medico-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.medico-table th, .medico-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.medico-table th {
  background-color: #f4f4f4;
}

.pagination-update-medico {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.pagination-update-medico button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #12322B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-update-medico button.active {
  background-color: #0C231E;
}

.pagination-update-medico button:hover {
  background-color: #0C231E;
}
